* {
    margin: 0;
    padding: 0;
}

.menu {
    font-size: 13px;
    position: relative;
    z-index: 100;
}

    .menu ul {
        list-style: none;
    }

    .menu li {
        float: left;
        position: relative;
    }

    .menu ul ul {
        visibility: hidden;
        position: absolute;
        left: 3px;
        top: 23px;
    }

    .menu table {
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu ul li:hover ul, .menu ul a:hover ul {
        visibility: visible;
    }

    .menu a {
        display: block;
        border: 1px solid #aaa;
        background: #1f0201;
        padding: 2px 10px;
        margin: 3px;
        color: #fff;
        text-decoration: none;
    }

        .menu a:hover {
            background: #ff0000;
            color: #fff;
            border: 1px solid red;
        }

    .menu ul ul {
    }

        .menu ul ul li {
            clear: both;
            text-align: left;
            font-size: 12px;
        }

            .menu ul ul li a {
                display: block;
                width: 280px;
                height: 18px;
                margin: 0;
                border: 0;
                border-bottom: 1px solid red;
            }

                .menu ul ul li a:hover {
                    border: 0;
                    background: #ff0000;
                    border-bottom: 1px solid #fff;
                    color: #fff
                }



#menuBar {
    background-color: #000;
    width: 1024px;
    height: 28px;
    padding-top: 1px;
}

#headDiv {
    height: 134px;
    background-color: #000;
    background-image: url('/images/banner1.jpg');
    background-repeat: no-repeat;
    height: 200px;
}

#footer {
    height: 134px;
    background-color: #5a100f;
    height: 110px;
    font-size: 12px;
    color:aliceblue;
}

#login {
    position: relative;
    z-index: 101;
    padding-left: 850px;
    padding-top: 10px;
}

.main {
    border: 1px solid #ff6a00;
    padding: 1px;
    float: left;
    width: 100%;
    color: brown;
}

.text {
    border-style: dashed;
    border-color: #800000;
    background-image: url('/images/text.jpg');
    font-size: 18px;
    color: #0000FF;
    font-style: normal;
    width: auto;
}