<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="~/Log.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Student/Home.aspx">
    <system.web>
      <authorization>
        <allow roles="Student"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
